{% extends "root/template.jinja" %}
{#}{% block headjs %}
<script src="{{ url_for('static', filename='js/sign-up.js')}}" defer></script>
{% endblock %}{#}
{% block body %}
  {% include "root/section/menu.jinja" %}
  {% include "root/section/summary.jinja" %}
  {#}{% include "root/section/about.jinja" %}{#}
  {#}{% include "root/section/signup.jinja" %}{#}
  {% include "root/section/history.jinja" %}
  {% include "root/section/footer.jinja" %}
{% endblock %}
