{% extends "admin/order/frame.jinja" %}
{% block module %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
  <div uk-grid>
    <div class="uk-width-1-2">
      <h3>Delivery Info</h3>
      {% if order.postage %}
      <table class="uk-table uk-table-divider uk-table-small">
        {% if order.postage_name %}
        <tr>
          <th>Name</th>
          <td>{{ order.postage_name }}
        </tr>
        {% endif %}
        {% if order.postage_address_1 %}
        <tr>
          <th>Address Line 1</th>
          <td>{{ order.postage_address_1 }}
        </tr>
        {% endif %}
        {% if order.postage_address_2 %}
        <tr>
          <th>Address Line 2</th>
          <td>{{ order.postage_address_2 }}
        </tr>
        {% endif %}
        {% if order.postage_city %}
        <tr>
          <th>City/Town</th>
          <td>{{ order.postage_city }}
        </tr>
        {% endif %}
        {% if order.postage_postcode %}
        <tr>
          <th>Postcode</th>
          <td>{{ order.postage_postcode }}
        </tr>
        {% endif %}
        {% if order.postage_country %}
        <tr>
          <th>Country</th>
          <td>{{ order.postage_country_name }}
        </tr>
        {% endif %}
      </table>
      {% else %}
      <p class="uk-text-meta">Waiting for entry to add postage information to order</p>
      {% endif %}
    </div>
    <div class="uk-width-1-2">
      <h3>Dispatch</h3>
      {% if order.postage and order.payment.statusIs("received") %}
      <div>
        <a href="{{ url_for('admin.dispatchOrderInfo', id=order.id) }}" class="uk-button uk-button-default uk-button-large">Print Dispatch Info</a>
      </div>
      <div>
        <form method="post" action="{{ url_for('admin.dispatchOrderProcess', id=order.id) }}">
          <input type="hidden" name="id" value="{{ order.id }}" />
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="uk-margin uk-button uk-button-default uk-button-large">Mark dispatched</button>
        </form>
      </div>
      {% else %}

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
