<div class="uk-margin">
  <label class="uk-form-label">Name*</label>
  <div class="uk-form-controls"><input type="text" name="name" class="uk-input" placeholder="Name" required></div>
</div>

<div class="uk-margin">
  <label class="uk-form-label">Address Line 1*</label>
  <div class="uk-form-controls"><input type="text" name="address_1" class="uk-input" placeholder="Address Line 1" required></div>
</div>

<div class="uk-margin">
  <label class="uk-form-label">Address Line 2</label>
  <div class="uk-form-controls"><input type="text" name="address_2" class="uk-input" placeholder="Address Line 2" /></div>
</div>

<div class="uk-margin">
  <label class="uk-form-label">City/Town*</label>
  <div class="uk-form-controls"><input type="text" name="city" class="uk-input" placeholder="City/Town" required /></div>
</div>

<div class="uk-margin">
  <label class="uk-form-label">Postcode*</label>
  <div class="uk-form-controls"><input type="text" name="postcode" class="uk-input" placeholder="Postcode" required /></div>
</div>

<div>
  <label class="uk-form-label">Country</label>
  <div class="uk-form-controls">{% include "portal/orders/partials/country_select.jinja" %}</div>
</div>
