<div class="uk-width-1-1">
  <form method="post" action="{{ url_for('orders.processOrder') }}">
    {% if order %}
    <input type="hidden" name="id" value="{{ order.id }}" />
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="uk-card uk-card-default uk-card-body">
      {% for item in items %}
      <div class="uk-grid-small uk-flex uk-flex-middle uk-margin-medium" uk-grid>
        <div class="uk-visible@s uk-width-1-5">
          <img src="{{ item.image_url }}" class="uk-padding-small" />
        </div>
        <div class="uk-width-expand">
          <h4>{{ item.name }} - {{ "£{:,.2f}".format(item.unit_cost) }} each</h4>
          <p>{{ item.description }}</p>
        </div>
        <div>
          {% if item.remaining > 0 or item.limited == False or item.id in matched %}
          <input name="item[{{ item.id }}]" type="number" class="uk-input uk-input-large uk-form-width-small" placeholder="0" value="{{ matched[item.id] if item.id in matched }}"></input>
          {% if item.limited %}
          <div class="uk-text-meta uk-text-right uk-margin-small-top">{{ item.remaining }} remaining</div>
          {% endif %}
          {% else %}
          <div class="uk-text-warning">Out of stock</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <div class="uk-text-center">
        <button type="submit" class="uk-button uk-button-primary uk-button-large">Add Postage</button>
      </div>
    </div>
  </form>
</div>
