{% for item in order.items %}
<div class="uk-grid-small" uk-grid>
  <div class="uk-width-expand" uk-leader><span uk-icon="icon: cart"></span> {{ item.item.name }} ({{ item.quantity }})</div>
  <div>{{ "£{:,.2f}".format(item.amount) }}</div>
</div>
{% endfor %}
{% if order.postage %}
<div class="uk-grid-small" uk-grid>
  <div class="uk-width-expand" uk-leader><span uk-icon="icon: mail"></span> {{ order.postage.name }}</div>
  <div>{{ "£{:,.2f}".format(order.postage.cost) }}</div>
</div>
{% endif %}
{% if order.payment.fee %}
<div class="uk-grid-small" uk-grid>
  <div class="uk-width-expand" uk-leader><span uk-icon="icon: credit-card"></span> {{ order.payment.type }}</div>
  <div>{{ "£{:,.2f}".format(order.payment.fee) }}</div>
</div>
{% endif %}
{% if order.statusIs("complete") or (order.statusIs("incomplete") and order.payment) %}
<div class="uk-grid-small uk-text-primary uk-text-bold" uk-grid>
  <div class="uk-width-expand" uk-leader>Total</div>
  <div>{{ "£{:,.2f}".format(order.total) }}</div>
</div>
{% else %}
<div class="uk-grid-small uk-text-primary" uk-grid>
  <div class="uk-width-expand" uk-leader>Subtotal</div>
  <div>{{ "£{:,.2f}".format(order.total) }}</div>
</div>
{% endif %}
