<table class="uk-table uk-table-small uk-table-striped">
  <thead>
    <tr>
      <th class="uk-width-1-2">Item</th>
      <th class="uk-width-1-6">Quantity</th>
      <th class="uk-text-right">Unit Cost</th>
      <th class="uk-text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items %}
    <tr>
      <td>{{ item.item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td class="uk-text-right">{{ "£{:,.2f}".format(item.item.unit_cost) }}</td>
      <td class="uk-text-right">{{ "£{:,.2f}".format(item.amount) }}</td>
    </tr>
    {% endfor %}

    {% if order.postage %}
    <tr>
      <td>{{ order.postage.name }}</td>
      <td>1</td>
      <td class="uk-text-right">{{ "£{:,.2f}".format(order.postage.cost) }}</td>
      <td class="uk-text-right">{{ "£{:,.2f}".format(order.postage.cost) }}</td>
    </tr>
    {% endif %}

    {% if order.payment.isBy("stripe") %}
    <tr>
      <td>Online Payment</td>
      <td>1</td>
      <td class="uk-text-right">{{ "£{:,.2f}".format(order.payment.fee) }}</td>
      <td class="uk-text-right">{{ "£{:,.2f}".format(order.payment.fee) }}</td>
    </tr>
    {% endif %}

    <tr class="uk-text-right uk-text-bold uk-text-normal">
      <td colspan="3">Total</td>
      <td>{{ "£{:,.2f}".format(order.total) }}</td>
    </tr>
  </tbody>
</table>
