<div id="footer" class="uk-section uk-section-muted uk-section-small">
  <div class="uk-container uk-container-small uk-text-center">
    <p class="uk-text-small">
      Kohoutek is organised by students at the University of Bristol, with support from the <a href="https://www.facebook.com/UoBGaS" target="_blank" rel="noreferrer noopener">University of Bristol Guides and Scouts (UOBGAS)</a> society, part of the <a href="https://ssago.org" target="_blank" rel="noreferrer noopener">Student Scout and Guide Organisation (SSAGO)</a>.
    </p>
    <p class="uk-text-small">
      &copy Kohoutek Competition 2021
    </p>
  </div>
</div>
