<div id="under-the-sea">
  <div id="home" class="uk-height-viewport">
    <div class="uk-container uk-flex uk-flex-center">
      <div class="uk-width-1-1 uk-grid-collapse uk-child-width-expand@m uk-grid-match uk-text-center" uk-grid>
        <div>
          <div class="uk-background-secondary uk-light uk-padding-small">
            <h2>100</h2>
            <p class="uk-margin-remove-bottom">
              <strong>Groups</strong>
            </p>
          </div>
        </div>

        <div>
          <div class="uk-background-secondary uk-light uk-padding-small">
            <h2>500</h2>
            <p class="uk-margin-remove-bottom">
              <strong>Teams</strong>
            </p>
          </div>
        </div>

        <div>
          <div class="uk-background-primary uk-light uk-padding-small">
            <h2>2000</h2>
            <p class="uk-margin-remove-bottom">
              <strong>Participants</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
