{% extends "portal/portal-frame.jinja" %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-flex uk-flex-stretch" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h1>Order Badges</h1>
        {% include "portal/components/alerts.jinja" %}
      </div>

      <div class="uk-width-2-3@l">
        <h3>Section</h3>
        <hr class="uk-divider-icon uk-hidden@l" />
        {% for item in items %}
          {{ item.name }} - {{ item.limited }} ({{ item.stock }}) - {{ item.orders | count }}<br />
        {% endfor %}
      </div>

      <div class="uk-width-1-3@l">
        <h3>Orders</h3>
        <hr class="uk-divider-icon uk-hidden@l" />
        {% for order in orders %}
          {{ order.status }}<br />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
