{% extends "portal/portal-frame.jinja" %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-flex uk-flex-stretch" uk-grid>
      {% include "portal/components/alerts.jinja" %}
      {% include "portal/orders/partials/order_summary.jinja" %}

      <div class="uk-width-1-1 uk-text-center uk-text-left@m">
        <a href="{{ url_for('portal.addPaymentToOrder', id=order.id) }}">
          <span uk-icon="arrow-left"></span> Choose Payment Method
        </a>
      </div>

      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
          <h3>{% block name %}{% endblock %}</h3>
          {% block instructions %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
