{% extends "portal/portal-frame.jinja" %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-flex uk-flex-stretch" uk-grid>
      {% include "portal/components/alerts.jinja" %}
      {% include "portal/orders/partials/order_summary.jinja" %}

      <div class="uk-width-1-1 uk-text-center uk-text-right@m">
        <a href="{{ url_for('portal.addPostageToOrder', id=order.id) }}">
          Add Postage <span uk-icon="arrow-right"></span>
        </a>
      </div>

      {% include "portal/orders/partials/item_selector.jinja" %}
    </div>
  </div>
</div>
{% endblock %}
