{% extends "portal/portal-frame.jinja" %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-medium">
    <div class="uk-flex uk-flex-stretch" uk-grid>
      {% include "portal/components/alerts.jinja" %}
      {% include "portal/orders/partials/order_summary.jinja" %}

      {#} TODO: turn this into a two column layout - summary on left, postage/payment on right {#}

      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
          <div>
            <div class="uk-grid-divider" uk-grid>
              <div class="uk-width-1-1 uk-width-1-2@m">
                <h3>Delivery</h3>
                {% if order.postage %}
                <table class="uk-table uk-table-divider uk-table-small">
                  {% if order.postage_name %}
                  <tr>
                    <th>Name</th>
                    <td>{{ order.postage_name }}
                  </tr>
                  {% endif %}
                  {% if order.postage_address_1 %}
                  <tr>
                    <th>Address Line 1</th>
                    <td>{{ order.postage_address_1 }}
                  </tr>
                  {% endif %}
                  {% if order.postage_address_2 %}
                  <tr>
                    <th>Address Line 2</th>
                    <td>{{ order.postage_address_2 }}
                  </tr>
                  {% endif %}
                  {% if order.postage_city %}
                  <tr>
                    <th>City/Town</th>
                    <td>{{ order.postage_city }}
                  </tr>
                  {% endif %}
                  {% if order.postage_postcode %}
                  <tr>
                    <th>Postcode</th>
                    <td>{{ order.postage_postcode }}
                  </tr>
                  {% endif %}
                  {% if order.postage_country %}
                  <tr>
                    <th>Country</th>
                    <td>{{ order.postage_country }}
                  </tr>
                  {% endif %}
                </table>
                {% if order.statusIs("incomplete") %}
                <hr />
                <div>
                  <a href="{{ url_for('orders.addPostageToOrder', id=order.id) }}" class="uk-button uk-button-default uk-button-large">Update</a>
                </div>
                {% endif %}
                {% else %}
                <p class="uk-text-meta">You need to add postage information</p>
                <div>
                  <a href="{{ url_for('orders.addPostageToOrder', id=order.id) }}" class="uk-button uk-button-default uk-button-large">Add Postage</a>
                </div>
                {% endif %}
              </div>
              <div class="uk-width-1-1 uk-width-1-2@m">
                <h3>Payment</h3>
                {% if order.payment %}
                  <table class="uk-table uk-table-divider uk-table-small">
                    <tr>
                      <th>Payment Method</th>
                      <td>{{ order.payment.type }}
                    </tr>
                    <tr>
                      <th>Status</th>
                      <td class="uk-text-{{ order.payment.status_colour }}">{{ order.payment.status_message }}
                    </tr>
                    {% if order.payment.statusIs("received") %}
                    <tr>
                      <th>Received</th>
                      <td>{{ order.payment.received_at }}
                    </tr>
                    {% endif %}
                  </table>
                  {% if order.payment.statusIs("new") %}
                  <hr />
                  <p class="uk-text-meta">You need to complete your payment</p>
                  <a href="{{ url_for('orders.completePayment', id=order.id) }}" class="uk-button uk-button-default uk-button-large">Complete Payment</a>
                  {% elif order.payment.statusIs("pending") %}
                  <p class="uk-text-meta">Your payment is currently being processed, your order will be completed once this has been received.</p>
                  {% endif %}
                {% elif order.postage %}
                <p class="uk-text-meta">You need to choose a payment method</p>
                <div>
                  <a href="{{ url_for('orders.addPaymentToOrder', id=order.id) }}" class="uk-button uk-button-default uk-button-large">Add Payment</a>
                </div>
                {% else %}
                <p class="uk-text-meta">Postage information must be added before payment can be taken</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
