Kohoutek 2021 Update.

Hello Kohoutekers! We're now up to an amazing 127 groups entered into the 2021 online event, with some international teams joining in too - as we get closer to March, here's an update from the organisers:

{% if not verified %}If you haven't verified your entry yet please visit the team portal ({{ verify_link }}) so we know you're getting our emails and will be able to download the actvities.{% endif %}

Activities will be released on the team portal ({{ portal_link }}) on the 14th of February, so groups have time to prepare. With Scouting and Guiding in the UK being online for the time being we've focussed on producing activities that can be done during a virtual meeting, there will be a number to choose from so you can run those you think will work best for your group.

Badges can be ordered from the team portal ({{ badge_link }}) with the option to pay online, by BACS, or by cheque (if you really must). We're looking to order the badges in mid-March once we have a better idea of how many we'll need - once you know how many you'll need please put an order in if you'd like some.

To find out more about the groups taking part we've built a Matchmaking tool - if you add when you'll be taking part ({{ match_link }}), you'll be able to find other groups planning to take part at the same time as you, and have the option to get in touch with them.

Thanks,
The Kohoutek 2021 Team (Josie, Annabelle, Freya, and Owen)
