{% extends "root/layout.jinja" %}
{% block body %}
{% include "root/s/menu.jinja" %}
{% include "root/s/home.jinja" %}
{% include "root/s/about.jinja" %}
{% include "root/s/signup.jinja" %}
{#}{% include "root/s/history.jinja" %}{#}
{#}{% include "root/s/footer.jinja" %}{#}
{% endblock %}
