{% macro activity_dropdown(id, activities, selected=False) %}
<div class="uk-margin-top">
  <select name="activity[{{ id }}]" class="uk-select">
    {% if selected %}
    <option value="{{ selected.id }}" selected>{{ selected.name }}</option>
    {% else %}
    <option value="" selected disabled>Choose activity</option>
    {% endif %}
    <option disabled>----</option>
    {% for activity in activities %}
    <option value="{{ activity.id }}">{{ activity.name }}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}
