{% extends "portal/orders/make_payment.jinja" %}
{% block name %}Bank Transfer{% endblock %}
{% block instructions %}
<form method="POST" action="{{ url_for('orders.completePayment', id=order.id) }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="id" value="{{ order.id }}" />
  <p>Please send your payment, using the reference <strong>{{ order.code }}</strong> to the details below.</p>

  <p>Once you've completed the transfer mark it as sent below so we know to look out for it.</p>

  <table class="uk-table uk-table-divider uk-table-small">
    <tr>
      <th>Account name</th>
      <td>Kohoutek Competition</td>
    </tr>
    <tr>
      <th>Account number</th>
      <td>65981360</td>
    </tr>
    <tr>
      <th>Sort code</th>
      <td>30-98-97</td>
    </tr>
  </table>

  <div class="uk-text-center">
    <button type="submit" class="uk-button uk-button-primary uk-button-large">Payment Sent</a>
  </div>

  <hr />

  <p>For our international entries extra bank details are below - if you need more information from us in order to send a payment please get in touch (<a href="mailto:contact@kohoutek.co.uk" target="_blank">contact@kohoutek.co.uk</a>).</p>
  <table class="uk-table uk-table-divider uk-table-small">
    <tr>
      <th>IBAN</th>
      <td>GB62LOYD30989765981360</td>
    </tr>
    <tr>
      <th>BIC</th>
      <td>LOYDGB21031</td>
    </tr>
  </table>
</form>
{% endblock %}
