{% extends "portal/orders/make_payment.jinja" %}
{% block name %}Pay by Cheque{% endblock %}
{% block instructions %}
<form method="POST" action="{{ url_for('orders.completePayment', id=order.id) }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="id" value="{{ order.id }}" />
  <p>Whilst we are able to take cheques, please only use this method if you really have no other options (it is 2021 after all!).</p>
  <p>Once you've posted your cheque, please mark your payment as sent using the button below, so we know to look out for it.</p>
  <p>Cheques should be made payable to <strong>Kohoutek Competition</strong> and sent to the following address:</p>

  <div class="uk-width-1-2@m uk-margin-auto uk-margin-bottom uk-card uk-card-secondary uk-card-small uk-card-body">
  Kohoutek<br />
  The Flat<br />
  10 Etloe Road<br />
  Bristol<br />
  BS6 7PB<br />
  (United Kingdom)
  </div>

  <div class="uk-text-center">
    <button type="submit" class="uk-button uk-button-primary uk-button-large">Payment Sent</a>
  </div>
</form>
{% endblock %}
