{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for type, message in messages %}
<div class="uk-alert uk-alert-{{ type }}">
  {{ message|safe }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
