{% extends "layouts/page.jinja" %}
{% block title %}Whoops{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-8 text-center">
    <h1>Whoops!</h1>
    <i class="far fa-compass compass"></i>
    <p>It looks like the page you were trying to look at doesn't exist yet, or isn't able to be displayed.</p>
    <p class="text-muted font-weight-light">{{ error }}</p>
    <p>Sorry about that!</p>
  </div>
</div>
{% endblock %}
