{% from "portal/scores/activity_dropdown.jinja" import activity_dropdown %}
{% extends "portal/portal-frame.jinja" %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-flex uk-flex-stretch" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h1>Enter your Scores</h1>
      </div>
      {% if matchPrompt %}
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
          <p>Why not <a href="{{ url_for("matchmake.details") }}" target="_blank">add yourself to the Kohoutek map</a>, so we can see where all of our entries are from!</p>
        </div>
      </div>
      {% endif %}

      {% include "portal/components/alerts.jinja" %}

      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
          {% if not teams %}
          <form method="POST" action="{{ url_for('scoring.create')}}" class="uk-form-stacked">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div>
              <label class="uk-form-label">How many teams did you have take part?</label>
              <div class="uk-form-controls uk-margin-top">
                <input class="uk-input uk-width-1-1" type="number" name="teams" value="1" />
              </div>
            </div>

            <div class="uk-margin">
              <label class="uk-form-label">Which activities did you run?</label>
              <div class="uk-form-controls">
                {% for n in range(1,5) %}
                {{ activity_dropdown(n, activities) }}
                {% endfor %}
              </div>
              <p class="uk-text-meta">If you ran less than four activities, choose any from the list then enter 0 as the score for each team.</p>
            </div>

            <div class="uk-text-right">
              <button type="submit" class="uk-button uk-button-large uk-button-primary">Enter Scores</button>
            </div>
          </form>
          {% else %}
          <form action="{{ url_for('scoring.update')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="uk-text-right">
              <a href="" class="uk-button uk-button-default">Change Activities</a>
              <button type="submit" name="add" value="1" class="uk-button uk-button-default">Add Another Team</button>
            </div>
            <hr />
            {% for team in teams %}
              {% if team.submitted %}
              <div class="uk-grid uk-margin-top">
                <div class="uk-width-expand">
                  <h3 class="uk-text-primary">Team {{ loop.index }}{% if team.name %} - {{ team.name }}{% endif %}</h3>
                </div>
                <div>
                    <button type="submit" name="delete" value="{{ team.id }}" class="uk-button uk-button-text uk-text-danger" uk-tooltip="title: Remove this team and its scores; pos: bottom;">Remove Team</button>
                </div>
              </div>

              <div class="uk-width-1-1 uk-margin">
                <div class="uk-grid-small uk-margin-medium" uk-grid>
                  <div class="uk-width-1-1 uk-width-1-4@s">
                    <h5>Section</h5>
                  </div>
                  <div class="uk-width-expand">
                    {{ team.section.value }}
                  </div>
                </div>

                <div class="uk-grid-small uk-margin-medium" uk-grid>
                  <div class="uk-width-1-1 uk-width-1-4@s">
                    <h5>Number of Team Members</h5>
                  </div>
                  <div class="uk-width-expand">
                    {{ team.members }}
                  </div>
                </div>

                <h4 class="uk-text-primary">Activity Scores</h4>
                {% for score in team.scores %}
                <div class="uk-grid-small uk-margin-medium" uk-grid>
                  <div class="uk-width-1-1 uk-width-1-4@s">
                    <h5>{{ score.activity.name }}</h5>
                  </div>
                  <div class="uk-width-expand">
                    <strong>{{ score.score }}</strong> / 50
                  </div>
                </div>
                {% endfor %}
              </div>
              {% else %}
              <div class="uk-grid uk-margin-top">
                <div class="uk-width-expand">
                  <h3 class="uk-text-primary">Team {{ loop.index }}</h3>
                </div>
                <div>
                    <button type="submit" name="delete" value="{{ team.id }}" class="uk-button uk-button-text uk-text-danger" uk-tooltip="title: Remove this team and its scores; pos: bottom;">Remove Team</button>
                </div>
              </div>

              <div class="uk-width-1-1 uk-margin">
                <fieldset class="uk-fieldset uk-form-horizontal">
                  <div class="uk-grid-small uk-margin-medium" uk-grid>
                    <div class="uk-width-1-1 uk-width-1-4@s">
                      <h5>Team Name</h5>
                    </div>
                    <div class="uk-width-expand">
                      <input type="text" class="uk-input" name="team-{{ team.id }}[name]" placeholder="Team Name" {% if team.name %}value="{{ team.name }}" {% endif %}/>
                      <p class="uk-text-meta">If your teams had names - no worries if they didn't!</p>
                    </div>
                  </div>

                  <div class="uk-grid-small uk-margin-medium" uk-grid>
                    <div class="uk-width-1-1 uk-width-1-4@s">
                      <h5>Section</h5>
                    </div>
                    <div class="uk-width-expand">
                      <select name="team-{{ team.id }}[section]" class="uk-select">
                        {% if team.section %}
                        <option value="{{ team.section.value }}" selected>{{ team.section.value }}</option>
                        {% elif current_user.entry.organisation_name == "Scouting" %}
                        <option value="Scouts" selected>Scouts</option>
                        {% else %}
                        <option value="Guides" selected>Guides</option>
                        {% endif %}
                        <option disabled>----</option>
                        {% for section in sections %}
                        <option value="{{ section.value }}">{{ section.value }}</option>
                        {% endfor %}
                      </select>
                      <p class="uk-text-meta">If you're from outside the UK, <a href="https://en.wikipedia.org/wiki/Age_groups_in_Scouting_and_Guiding#United_Kingdom" target="_blank" rel="nofollow noreferrer" class="uk-text-primary">match your sections age</a> as best you can with '{% if current_user.entry.organisation_name == "Scouting" %}The Scout Association{% else %}Girlguiding UK{% endif %}'.</p>
                    </div>
                  </div>

                  <div class="uk-grid-small uk-margin-medium" uk-grid>
                    <div class="uk-width-1-1 uk-width-1-4@s">
                      <h5>Number of Team Members</h5>
                    </div>
                    <div class="uk-width-expand">
                      <input type="number" class="uk-input" name="team-{{ team.id }}[number]" placeholder="Number in team" {% if team.members %}value="{{ team.members }}" {% endif %}/>
                    </div>
                  </div>

                  <h4 class="uk-text-primary">Activity Scores</h4>
                  {% for activity in entry.activities %}
                  <div class="uk-grid-small uk-margin-medium" uk-grid>
                    <div class="uk-width-1-1 uk-width-1-4@s">
                      <h5>{{ activity.activity.name }}</h5>
                    </div>
                    <div class="uk-width-expand">
                      <input type="number" class="uk-input uk-width-3-4 uk-width-1-5@m" name="team-{{ team.id }}[activity-{{ loop.index }}]" placeholder="Score" {% if team.scores[loop.index0].score %}value="{{ team.scores[loop.index0].score }}" {% endif %}/> / 50
                    </div>
                  </div>
                  {% endfor %}
                </fieldset>
              </div>
              {% endif %}
              {% if not loop.last %}<hr />{% endif %}
            {% endfor %}
            {% if toSubmit > 0 %}
            <div class="uk-text-right">
              <button type="submit" name="save" value="1" class="uk-button uk-button-large uk-button-default" uk-tooltip="title: Save your scores to submit later; pos: top;">Save Scores</button>
              <button type="submit" name="submit" value="1" class="uk-button uk-button-large uk-button-primary" uk-tooltip="title: Submit your scores now; pos: top;">Submit Scores</a>
            </div>
            {% endif %}
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
