@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap');

$font-rubik: 'Rubik', sans-serif;
$font-space-grotesk: 'Space Grotesk', sans-serif;

$global-font-family: $font-rubik;
$global-font-size: 18px;
$inverse-global-color: rgba(#fff, 0.85);
$base-heading-font-family: $font-space-grotesk;
$base-heading-font-weight: 700;
$navbar-nav-item-font-family: $font-space-grotesk;
$navbar-nav-item-height: 60px;

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  overscroll-behavior: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.uk-navbar-nav li a {
  font-size: 1.2rem;
  font-weight: 500;
}

.uk-navbar-nav a.uk-totop {
  padding-right: 30px;
}

.uk-section {
  padding-top: $navbar-nav-item-height + 25px;
}

.uk-form-label {
  font-size: 1.1rem;
}

form label.uk-width-1-1 {
  cursor: pointer;
}

#home {
  background: rgba(0, 0, 0, 0.35);
}

#kohoutek-badge {
  max-height: 75vh;
  max-width: 75vw;
  margin-top: 45vh;
  transform: translate(0, -50%);
}

.kohoutek-frontactive {
  .kohoutek-totop {
    svg {
      display: none;
    }
  }
}

.kohoutek-frontactive .kohoutek-illuminate, .kohoutek-mobile-illuminate {
  color: $global-link-color !important;
  font-weight: 700;
}
