{% extends "portal/portal-frame.jinja" %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-xsmall">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h1>Matchmaker</h1>
      </div>
      {% include "portal/components/alerts.jinja" %}

      <div class="uk-width-1-1">
        <div class="uk-width-1-1 uk-card uk-card-default uk-card-body">
          <h4>Sending a message to {{ match.entry.name }}</h4>
          <form class="uk-form-stacked" method="post" action="{{ url_for('matchmake.contactProcess', id=match.id) }}">
            <input type="hidden" name="id" value="{{ match.id }}" />
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="uk-width-1-1 uk-margin">
              <textarea name="message" class="uk-textarea" rows="6"></textarea>
            </div>
            <div class="uk-width-1-1">
              <button type="submit" class="uk-button uk-button-primary uk-button-large">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
