{% extends "portal/portal-frame.jinja" %}
{% block headjs %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block module %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h1>Matchmaker</h1>
      </div>
      {% include "portal/components/alerts.jinja" %}

      <div>
        <div class="uk-width-1-1 uk-card uk-card-default uk-card-body">
          <h3>When are you taking part?</h3>
          <form class="uk-form-stacked" method="post" action="{{ url_for('matchmake.detailsProcess') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="longitude" id="longitude" value="{% if match %}{{ match.longitude }}{% endif %}" />
            <input type="hidden" name="latitude" id="latitude" value="{% if match %}{{ match.latitude }}{% endif %}" />
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-1 uk-width-4-5@m">
                <label class="uk-form-label">Date Participating</label>
                <input type="date" name="date" value="{% if match %}{{ match.date_string }}{% endif %}" class="uk-input" />
              </div>
              <div class="uk-width-1-1 uk-width-1-5@m">
                <label class="uk-form-label">Rough Numbers</label>
                <input type="number" name="number" placeholder="0" value="{% if match %}{{ match.number }}{% endif %}" class="uk-input" />
              </div>
            </div>
            <div class="uk-width-1-1 uk-margin-medium">
              <label><input type="checkbox" name="contact" class="uk-checkbox uk-margin-small-right" {% if match %}{{ 'checked' if match.contact else '' }}{% else %}checked{% endif %} /> Can other teams taking part on the same day contact you?</label>
              <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom">Initial contact is through the team portal, other teams won't be given access to your personal info!</p>
            </div>
            <div class="uk-width-1-1 uk-margin">
              <h3>Where are you?</h3>
              <p class="uk-text-meta">Zoom in on your location and click to add a marker to the map - if you don't want to use your exact location the nearest town/city etc. is fine, we just want a rough idea of where you are in the world!</p>
              <div id="map" class="uk-width-1-1" style="height: 500px;"></div>
            </div>
            <div class="uk-width-1-1">
              <button type="submit" class="uk-button uk-button-primary uk-button-large">Save details</button>
            </div>
          </form>
          {% if match %}
          <hr />
          <form method="post" action="{{ url_for('matchmake.detailsRemove') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="uk-width-1-1">
              <p>If you no longer wish to appear on the matchmaking map you can remove your details below</p>
              <button type="submit" class="uk-button uk-button-secondary uk-button-large">Remove details</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block bodyjs %}
<script>
mapboxgl.accessToken = '{{ mapbox_key }}';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: {{ center }},
  zoom: {% if match %}8{% else %}4{% endif %},
  pinchWithRotate: false,
  trackResize: true,
});

var marker = new mapboxgl.Marker({color: "#0077b6"});
{% if match %}marker.setLngLat({{ match.lngLat }});
marker.addTo(map);{% endif %}

var lng = document.getElementById("longitude");
var lat = document.getElementById("latitude");

map.on('click', (e) => {
  marker.setLngLat(e.lngLat).addTo(map);

  split = e.lngLat.toArray();
  lng.value = split[0];
  lat.value = split[1];
});
</script>
{% endblock %}
