{% extends "portal/portal-frame.jinja" %}
{% block headjs %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block module %}
{% if match %}
<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-medium">
    <div class="uk-grid-collapse" uk-grid>
      <div class="uk-width-1-1 uk-text-center uk-margin">
        <h1>Matchmaker</h1>
        {% include "portal/components/alerts.jinja" %}
      </div>

      <div id="map" class="uk-width-1-1 uk-width-3-4@l" style="height: 500px;"></div>

      <div class="uk-width-1-1 uk-width-1-4@l uk-background-secondary uk-light uk-flex uk-flex-column uk-flex-between uk-padding" style="max-height: 500px;">
        {% if matches|count > 0 %}
        <div uk-overflow-auto>
          <p class="uk-text-small uk-text-center">There {{ "are" if matches|count > 1 else "is" }} <strong>{{ matches|count }}</strong> other {{ "groups" if matches|count > 1 else "group" }} taking part in Kohoutek at the same time as you!</p>

          <ul class="uk-list uk-list-divider uk-column-1-3@s uk-column-1-1@l uk-column-divider">
            {% for m in matches %}
            <li><a onclick="markers[{{ loop.index }}].togglePopup()">{{ m.entry.name }} <span class="uk-text-small">({{ m.distanceTo(match) }}km)</span></a></li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <div><p class="uk-text-small uk-text-center">There aren't currently any other groups who've said they'll be taking part at the same time as you - sorry!</p></div>
        {% endif %}
        <div class="uk-text-center uk-margin-top">
          <a href="{{ url_for('matchmake.details') }}" class="uk-button uk-button-default">Update Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block bodyjs %}
<script>
mapboxgl.accessToken = '{{ mapbox_key }}';

var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
pinchWithRotate: false,
trackResize: true,
{% if matches|count == 0 %}
center: {{ match.lngLat }},
zoom: 12,
{% endif %}
});

var markers = new Array()
var popupOptions = {closeButton: false, focusAfterOpen: false, width: "auto", className: "map-popup"};

markers.push(new mapboxgl.Marker({color: "#faa05a"})
  .setLngLat({{ match.lngLat }})
  .setPopup(new mapboxgl.Popup(popupOptions)
  .setHTML("<div class=\"uk-padding-small uk-text-center\"><h4 class=\"uk-margin-remove-bottom\">{{ match.entry.name }}</h4></div>"))
  .addTo(map));

{% for m in matches %}
markers.push(new mapboxgl.Marker({color: "#0077b6"})
  .setLngLat({{ m.lngLat }})
  .setPopup(new mapboxgl.Popup(popupOptions)
  .setHTML("<div class=\"uk-padding-small uk-text-center\"><h4 class=\"uk-margin-{{ 'small' if m.contact else 'remove' }}-bottom\">{{ m.entry.name }}</h4>{% if m.contact %}<a class=\"uk-button uk-button-small uk-button-primary\" href=\"{{ url_for('matchmake.contact', id=m.id)}}\">Contact</a>{% endif %}</div>"))
  .addTo(map));
{% endfor %}

{% if matches|count > 0 %}
var bounds = new mapboxgl.LngLatBounds()
markers.forEach((marker) => bounds.extend(marker.getLngLat()))
map.on('load', function() {
  map.resize();
  map.fitBounds(bounds, {padding: 80});
});
{% endif %}
</script>
{% endblock %}
