{% extends "admin/order/frame.jinja" %}
{% block module %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
  <h2 class="uk-card-title uk-text-danger">Cancel Order</h2>
  <p>This will irreversibly remove the order.</p>
  {% if not order.statusIs("incomplete") %}
  <p>This order is <strong class="uk-text-{{ order.status_colour }}">'{{ order.status_name }}'</strong> - you probably don't want to cancel this, as payment has either been made or is on it's way!</p>
  {% endif %}
  <p>If you're certain this is what you want to do, enter the order code <strong>{{ order.code }}</strong> below.</p>
  <form method="POST" action="{{ url_for('admin.cancelOrderProcess', id=order.id) }}">
    <input type="hidden" name="id" value="{{ order.id }}" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" name="code" class="uk-input uk-form-large" placeholder="Order ID" required />
    <button type="submit" class="uk-margin uk-button uk-button-danger">Cancel Order</button>
  </form>
</div>
{% endblock %}
