{% extends "portal/template.jinja" %}
{% block background %}default{% endblock %}
{% block body %}
<div class="uk-section uk-section-secondary uk-section-xsmall">
  <div class="uk-container uk-container-small uk-text-center">
    <h2>Kohoutek Admin</h2>
  </div>
</div>
<div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-bottom">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li><a href="{{ url_for('portal.index') }}">Home</a></li>
        <li><a href="{{ url_for('portal.listEntries') }}">Entries</a></li>
        <!-- <li><a href="">Badges</a></li> -->
        <!-- <li><a href="">Scores</a></li> -->
        <li><a href="{{ url_for('portal.logout') }}">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="uk-section uk-section-default uk-section-xsmall">
{% block content %}{% endblock %}
</div>
{% endblock %}
