<div id="under-the-sea">
  <div id="home" class="uk-height-viewport">
    <div class="uk-text-center">
      <img id="kohoutek-badge" src="{{ url_for('static', filename='img/badge.png')}}" alt="the kohoutek 2021 badge">
    </div>
  </div>
</div>
