{% extends "admin/template.jinja" %}
{% block body %}
<div class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container uk-container-xlarge">
    {% include "portal/components/alerts.jinja" %}

    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav uk-flex uk-flex-wrap">
          <li><a href="{{ url_for('admin.listEntries') }}">All</a></li>
          <li><a href="{{ url_for('admin.listEntries') }}/verified">Verified</a></li>
          <li><a href="{{ url_for('admin.listEntries') }}/unverified">Unverified</a></li>
        </ul>
      </div>
    </nav>

    <table class="uk-table uk-table-responsive uk-table-striped uk-table-middle">
      <thead>
        <tr>
          <th>ID</th>
          <th>Group/Unit (Troop)</th>
          <th class="uk-table-shrink">District/Division</th>
          <th class="uk-table-shrink">County</th>
          <th class="uk-table-shrink">Organisation</th>
          <th class="uk-table-shrink">Verified</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td class="uk-text-small uk-table-link">
            <a href="{{ url_for('admin.entry', id=entry.id)}}">{{ entry.code }}</a>
          </td>
          <td>{{ entry.name }}</td>
          <td>{{ entry.district }}</td>
          <td>{{ entry.county_name }}</td>
          <td>{{ entry.organisation_name }}</td>
          <td>{% if entry.verified %}<span class="uk-text-success" uk-icon="check"></span>{% else %}<span class="uk-text-danger" uk-icon="close"></span>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
