{% extends "admin/template.html" %}
{% block body %}
<div class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container uk-container-xlarge">
    {% include "portal/components/alerts.html" %}

    <table class="uk-table uk-table-responsive uk-table-striped uk-table-middle">
      <thead>
        <tr>
          <th class="uk-table-shrink">Position</th>
          <th>ID</th>
          <th>Group/Unit (Troop)</th>
          <th class="uk-table-shrink">District/Division</th>
          <th>Team Name</th>
          <th class="uk-table-shrink">Section</th>
          <th class="uk-table-shrink"># Members</th>
          <th class="uk-table-shrink">Raw Score</th>
          <th class="uk-table-shrink">Weighted Score</th>
          <th class="uk-table-shrink">Eligable</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ loop.index }}</td>
          <td class="uk-text-small uk-table-link">
            <a href="{{ url_for('admin.entry', id=team.entry.id)}}">{{ team.entry.code }}</a>
          </td>
          <td>{{ team.entry.name }}</td>
          <td>{{ team.entry.district }}</td>
          <td>{{ team.name }}</td>
          <td>{{ team.section.value }}</td>
          <td>{{ team.members }}</td>
          <td>
            <div class="uk-inline">
              <a href="#">{{ team.rawScore }}</a>
              <div uk-drop="mode: hover; pos: left; delay-hide: 150;">
                <div class="uk-card uk-card-small uk-card-body uk-card-default">
                  <ul class="uk-list">
                    {% for score in team.scores %}
                    <li><strong>{{ score.activity.name }}</strong> - {{ score.score }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
          </td>
          <td>{{ team.weightedScore }}</td>
          <td>{% if team.entry.eligable %}<span class="uk-text-success" uk-icon="star"></span>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}