<div id="about" class="uk-section uk-section-default uk-height-viewport avoid-sticky-nav">
  <div class="uk-container uk-container-small">
    <h1 class="uk-text-center">Kohoutek 2024</h1>
    <div class="uk-flex uk-flex-stretch" uk-grid>
      <div>
        <p>
          Kohoutek is a competition and activity day for Scouts in Avon County, and Guides in Bristol and South
          Gloucestershire, and Somerset North counties, organised by students from the University of Bristol Guides and
          Scouts society (UOBGAS).
        </p>
        <p>
          The 2024 event <strong>Welcome to the Jungle!</strong> will be taking place on <strong>XXXXXX</strong> at
          <strong>XXXXXX</strong>.
        </p>
        <hr class="uk-divider-icon uk-hidden@l" />
      </div>
      <div class="uk-width-1-1">
        <h2>How does it work?</h2>
      </div>
      <div class="uk-width-3-5@l">
        <!-- <p>

        </p>
        <p>

        </p>
        <p>

        </p> -->
        <!-- <hr class="uk-divider-icon uk-hidden@l" /> -->
        <h3 id="rules">Rules</h3>
        <p>
          This is a competition after all!
        </p>
        <ol class="uk-list uk-list-decimal uk-text-small">
          <li>
            The competition is open to all Scouts and Guides, however only Guides within Bristol and South
            Gloucestershire, and Somerset North Counties; and Scouts within Avon County will be eligible for the
            Kohoutek Trophy.
          </li>
          <li>
            Groups/Units/Troops must split their young people into teams of maximum five, who will attempt the
            activities together.
          </li>
          <li>
            Teams should attempt the activities as explained in the activity pack, following any time limits or
            constraints given. Scores submitted should be an accurate reflection of how the team performed.
          </li>
          <li>
            Final decisions on the awarding of trophies are at the organisers' discretion.
          </li>
        </ol>
        <hr class="uk-divider-icon uk-hidden@l" />
      </div>
      <div class="uk-width-2-5@l">
        <h3>Key Dates</h3>
        <dl class="uk-description-list uk-description-list-divider">
          <dt>December 2020</dt>
          <dd>Registration for Kohoutek 2021 opens!</dd>
          <dt>February 14<sup>th</sup> 2021</dt>
          <dd>Activity packs published and made available to groups.</dd>
          <dt>March 2021</dt>
          <dd>In teams attempt four of our Under the Sea activities, and send in your scores.</dd>
          <dt>April 5<sup>th</sup> 2021</dt>
          <dd>Deadline for submitting your Kohoutek 2021 scores.</dd>
          <dt>April 12<sup>th</sup> 2021</dt>
          <dd>Scores published and trophies awarded.</dd>
        </dl>
        <hr class="uk-divider-icon uk-hidden@l" />
        <h3>Badges?</h3>
        <p>
          Yes, there'll be badges!
        </p>
        <p>
          All young people taking part will receive a badge, along with one leaders' badge per team.
        </p>
      </div>
    </div>
  </div>
</div>