{% import "mail/component/header.jinja" as header %}
{% import "mail/component/button.jinja" as button %}
{% extends "mail/template.jinja" %}
{% block title %}Entry Cancelled{% endblock %}
{% block preview %}
The Kohoutek entry for {{ entry_name }} has been cancelled.
{% endblock %}
{% block body %}
<tr>
  <td
    style="padding: 40px 40px 30px 40px; font-family: 'Rubik', sans-serif; font-size: 18px; line-height: 28px; color: #666; font-weight: 400;">
    {{ header.title('Entry Cancelled') }}
    <p style="margin: 0;">The Kohoutek entry for <strong>{{ entry_name }}</strong> has now been cancelled. If you
      believe this to have been done in error, please get in touch with us at contact@kohoutek.co.uk.</p>
  </td>
</tr>
{% endblock %}
{% block footer %}
<p>
  You've received this email as you signed up to take part in Kohoutek. As your entry has now been cancelled you will
  receive no further emails from us.
</p>
{% endblock %}