We've received payment for your badge order ({{ order.code }}), we'll let you know once we've these dispatched these so you know to keep an eye out.

You can view your order information, and download a receipt on the order page: {{ order_link }}

This link is unique to your entry so please don't forward on this email or share it outside of your group.

You've received this email as you signed up to take part in Kohoutek 2021. If you no longer wish to receive these emails please contact us at contact@kohoutek.co.uk so we can remove your group's competition entry.
