{% extends "admin/template.jinja" %}
{% block body %}
  <div class="uk-container uk-container-medium">
    <div class="uk-flex uk-flex-stretch" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        {% include "portal/components/alerts.jinja" %}
      </div>
      <div class="uk-width-1-1 uk-grid-collapse uk-child-width-expand@m uk-grid-match uk-text-center" uk-grid>
        <div>
          <div class="uk-background-primary uk-light uk-padding-small">
            <h2>{{ total_entries|count }}</h2>
            <p class="uk-margin-remove-bottom">
              <strong>Total Entries</strong>
            </p>
          </div>
        </div>

        <div>
          <div class="uk-background-secondary uk-light uk-padding-small">
            <h2>{{ scout_entries|count }}</h2>
            <p class="uk-margin-remove-bottom">
              <strong>Scouting Entries</strong>
            </p>
          </div>
        </div>

        <div>
          <div class="uk-background-secondary uk-light uk-padding-small">
            <h2>{{ guide_entries|count }}</h2>
            <p class="uk-margin-remove-bottom">
              <strong>Guiding Entries</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
