<!doctype html>
<html lang="en" class="uk-height-viewport">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js')}}" defer></script>
    {% block headjs %}{% endblock %}
    <title>Admin - Kohoutek 2021</title>
  </head>
  <body id="portal" class="uk-height-viewport uk-background-default">
    <div class="uk-section uk-section-secondary uk-section-xsmall">
      <div class="uk-container uk-container-small uk-text-center">
        <h2>Kohoutek Admin</h2>
      </div>
    </div>
    <div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-bottom">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-center">
          <ul class="uk-navbar-nav uk-flex uk-flex-wrap">
            <li><a href="{{ url_for('admin.index') }}">Home</a></li>
            <li><a href="{{ url_for('admin.listEntries') }}">Entries</a></li>
            <li><a href="{{ url_for('admin.listOrders') }}">Orders</a></li>
            <li><a href="">Scores</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
    {% block body %}{% endblock %}
    {% block bodyjs %}{% endblock %}
  </body>
</html>
