{% extends "admin/entry/frame.jinja" %}
{% block module %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
  <h2 class="uk-card-title uk-text-danger">Cancel Entry</h2>
  <p>This will irreversibly remove the entry, and any orders and submitted scores associated with it.</p>
  <p>If you're certain this is what you want to do, enter the entry code <strong>{{ entry.code }}</strong> below.</p>
  <form method="POST" action="{{ url_for('admin.cancelEntryProcess', id=entry.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" name="code" class="uk-input uk-form-large" placeholder="Entry ID" required />
    <div class="uk-margin">
      <label><input type="checkbox" name="silent" value="true" class="uk-checkbox"> - cancel silently</label>
    </div>
    <button type="submit" class="uk-button uk-button-danger">Cancel Entry</button>
  </form>
</div>
{% endblock %}
