{% extends "admin/entry/frame.html" %}
{% block module %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
  <table class="uk-table uk-table-responsive uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <th>Order</th>
        <th>Items</th>
        <th>Order Total</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in entry.orders %}
      <tr>
        <td class="uk-text-small uk-table-link">
          <a href="{{ url_for('admin.order', id=order.id)}}">{{ order.code }}</a>
        </td>
        </td>
        <td>{{ order.quantity }}</td>
        <td>{{ "£{:,.2f}".format(order.total) }}</td>
        <td class="uk-text-{{ order.status_colour }}">{{ order.status_message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}