<div id="about" class="uk-section uk-section-default uk-height-viewport">
  <div class="uk-container uk-container-small">
    <h1 class="uk-text-center">Kohoutek 2021</h1>
    <div class="uk-flex uk-flex-stretch" uk-grid>
      <div>
        <p>
          Kohoutek is (normally) a competition and activity day for Scouts in Avon County, and Guides in Bristol and South Gloucestershire, and Somerset North counties, organised by students from the University of Bristol Guides and Scouts society (UOBGAS).
        </p>
        <p>
          Due to the uncertainty over the coming months around being able to run large events in person, for 2021 we're planning to run Kohoutek as an online event.
        </p>
        <hr class="uk-divider-icon uk-hidden@l" />
      </div>
      <div class="uk-width-3-5@l">
        <h2>How will it work?</h2>
        <p>
          This year's <strong>Under the Sea</strong> themed competition will run throughout March 2021, with groups being provided activities to attempt during one of their regular section meetings, either indoors, outdoors, or virtually.
        </p>
        <p>
          Groups should pick five activites from the list, and in teams complete them as best they can, before submitting their scores online.
        </p>
        <p>
          We'll add up the scores and publish them in April. While the main Kohoutek trophies are only open to teams who would normally be able to enter the competition, there'll be a special Kohoutek 2021 trophy that all teams can compete for.
        </p>
        <hr class="uk-divider-icon uk-hidden@l" />
        <h3 id="rules">Rules</h3>
        <p>
          This is a competition after all! For this online event we've relaxed most of the normal rules, and have opened up the competition to Scouts and Guides from outside of the area.
        </p>
        <ol>
          <li>
            RULE
          </li>
        </ol>
        <hr class="uk-divider-icon uk-hidden@l" />
      </div>
      <div class="uk-width-2-5@l">
        <h3>Key Dates</h3>
        <dl class="uk-description-list uk-description-list-divider">
          <dt>December 2020</dt>
          <dd>Booking for Kohoutek 2021 opens!</dd>
          <dt>February 14<sup>th</sup> 2021</dt>
          <dd>Booking closes, activity packs published and emailed out to groups.</dd>
          <dt>March 2021</dt>
          <dd>In teams attempt five of our Under the Sea activities, and send in your scores.</dd>
          <dt>April 5<sup>th</sup> 2021</dt>
          <dd>Deadline for submitting your Kohoutek 2021 scores.</dd>
          <dt>April 12<sup>th</sup> 2021</dt>
          <dd>Scores published and trophies awarded.</dd>
        </dl>
        <hr class="uk-divider-icon uk-hidden@l" />
        <h3>Badges?</h3>
        <p>
          Yes, there'll be badges! You can order these, as well as badges from the 2019 and 2020 events, once you've signed up your group.
        </p>
      </div>
    </div>
  </div>
</div>
