Thank you for entering Kohoutek 2021. You haven't yet confirmed your entry - please use the following link to visit the team portal and do so: {{ confirmation_link }}

You can use this link to return to the team portal at any time, where you can download the Kohoutek 2021 activities once they're released, buy event badges for your teams, and submit your scores once your teams have completed.

This link is unique to your teams so please don't forward on this email or share it. Make sure you save this email in a safe place so you can find the link again.

You've received this email as you signed up to take part in Kohoutek 2021. If you no longer wish to receive these emails please contact us at contact@kohoutek.co.uk so we can remove your group's competition entry.
