{% import "mail/component/header.jinja" as header %}
{% import "mail/component/button.jinja" as button %}
{% extends "mail/template.jinja" %}
{% block title %}Kohoutek 2021 Update{% endblock %}
{% block preview %}
An update to Kohoutek 2021 entries about activities, badges, and our new 'matchmaking' tool.
{% endblock %}
{% block body %}
<tr>
  <td style="padding: 40px 40px 30px 40px; font-family: 'Rubik', sans-serif; font-size: 18px; line-height: 28px; color: #666; font-weight: 400;">
    {{ header.title('Kohoutek 2021 Update') }}
    <p>Hello Kohoutekers! We're now up to an amazing 127 groups entered into the 2021 online event, with some international teams joining in too - as we get closer to March, here's an update from the organisers:</p>
    {% if not verified %}<p>If you haven't verified your entry yet please <a href="{{ verify_link }}">visit the team portal</a> so we know you're getting our emails and will be able to download the actvities.</p>{% endif %}
    <p><strong>Activities</strong> will be released <a href="{{ portal_link }}">on the team portal</a> on the 14th of February, so groups have time to prepare. With Scouting and Guiding in the UK being online for the time being we've focussed on producing activities that can be done during a virtual meeting, there will be a number to choose from so you can run those you think will work best for your group.</p>
    <p><strong>Badges</strong> can be <a href="{{ badge_link }}">ordered from the team portal</a> with the option to pay online, by BACS, or by cheque (if you really must). We're looking to order the badges in mid-March once we have a better idea of how many we'll need - once you know how many you'll need please put an order in if you'd like some.</p>
    <p>To find out more about the groups taking part we've built a <strong>Matchmaking</strong> tool - if you <a href="{{ match_link }}">add when you'll be taking part</a>, you'll be able to find other groups planning to take part at the same time as you, and have the option to get in touch with them.</p>
    <p style="margin: 0">Thanks,<br />The Kohoutek 2021 Team (Josie, Annabelle, Freya, and Owen)</p>
  </td>
</tr>
{% endblock %}
{% block footer %}
<p>
  You've received this email as you signed up to take part in Kohoutek 2021. If you no longer wish to receive these emails please contact us at <strong>contact@kohoutek.co.uk</strong> so we can remove your group's competition entry.
</p>
{% endblock %}
