<div id="history" class="uk-section uk-section-secondary uk-height-viewport avoid-sticky-nav">
  <div class="uk-container uk-container-small">
    <h1 class="uk-text-center">Kohoutek History</h1>
    <p>
      Freya's going to dig out some things to go here.
    </p>
  </div>
</div>
