Your Kohoutek entry has been submitted. Please use the following link to visit the team portal and confirm your entry:
{{ confirmation_link }}

You can use this link to return to the team portal at any time, where you can sign up your teams to the event.

This link is unique to your teams so please don't forward on this email or share it. Make sure you save this email in a
safe place so you can find the link again.

You've received this email as you signed up to take part in Kohoutek. If you no longer wish to receive these emails
please contact us at contact@kohoutek.co.uk so we can remove your group's competition entry.