{% import "mail/component/header.jinja" as header %}
{% import "mail/component/button.jinja" as button %}
{% extends "mail/template.jinja" %}
{% block title %}Kohoutek 2021 Update{% endblock %}
{% block preview %}
Kohoutek 2021 Activities now available to download.
{% endblock %}
{% block body %}
<tr>
  <td style="padding: 40px 40px 30px 40px; font-family: 'Rubik', sans-serif; font-size: 18px; line-height: 28px; color: #666; font-weight: 400;">
    <p>Hi all! We are very excited to share our Kohoutek 2021 Under the Sea activities with you! You will be able to find these to download from <a href="{{ activity_link }}">your portal on our website</a>!</p>

    <p>There are a few things for you to do now and some guidance for the competition;</p>

    <p>1. Take a look through the activities booklet - we have a mixture of creative, physical and mental activities for your young people.</p>

    <p>2. Pick 4 activities (of course you are welcome to use as many of the activities as you like, but pick 4 to send in scores for as part of the competition).</p>

    <p>3. Decide on teams of 5 members or under - we appreciate that you may not be able to make exact teams of 5, so 4/5 is best, we will ask you to tell us how big the teams were when you submit scores so we can level the scores based on team size where appropriate.</p>

    <p>4. Play the activities with your teams. You have the whole of March to do so. The activities are short enough that you could play 4 (all going smoothly) in one meeting night, or you could play one game per week throughout March.</p>

    <p>5. Submit your scores. You will be able to do this through your portal on our website. Make sure to keep a record during your meetings of each teams score. The deadline for submitting scores will be the 5th of April.</p>

    <p>6. Buy some badges! Badge orders for previous years are already open, and badges for this years event will open in late March.</p>

    <p>You will see that many of our activities require you to share your screen, so if you are using breakout rooms, make sure to allow multiple participants to screen share at once in your zoom settings. You will also see that some activities can be done by all the teams simultaneously, and others have to be done in breakout rooms. We have tried to give you as much choice here so that you can combine them into your virtual meeting easily.</p>

    <p>We hope that you and your Scouts/Guides enjoy taking part in Kohoutek 2021!</p>

    <p style="margin: 0">The Kohoutek Team</p>
  </td>
</tr>
{% endblock %}
{% block footer %}
<p>
  You've received this email as you signed up to take part in Kohoutek 2021. If you no longer wish to receive these emails please contact us at <strong>contact@kohoutek.co.uk</strong> so we can remove your group's competition entry.
</p>
{% endblock %}
