Hello Kohoutekers, a big thank you to everyone that took part in this year's online event - we had an amazing 156 teams enter, with 716 young people taking part in total!

The scores are in (insert your own drumroll here)...

Congratulations to *Luís Vaz de Camões* from 1240 Murtal in Portugal, who were the overall winners of Kohoutek 2021 with 186 points!

The winners of the Kohoutek Trophy (open to teams who would normally be taking part in the in-person event) were *OSR Team One* from 1st Stoke Gifford Scout Group with 185 points (so narrowly missing out on the overall win too) - well done!

The full scores for both the overall competition and the Kohoutek Trophy are now up on the website (https://kohoutek.co.uk) - if you haven't added yourself to the map yet you can still do so through the portal ({{ match_link }}).

Badges should be with us this week, we'll let groups know as we send them out (we're aiming to get them out as quickly as we can!).

Thank you all again for taking part in Kohoutek 2021, and we hope to see some of you for an in-person event in 2022!
The Kohoutek 2021 Team (Josie, Annabelle, Freya, and Owen)
