{% import "mail/component/header.jinja" as header %}
{% import "mail/component/button.jinja" as button %}
{% extends "mail/template.jinja" %}
{% block title %}Kohoutek 2021 Update{% endblock %}
{% block preview %}
Hello Kohoutekers, now that the competition has ended we're getting ready to count up the scores and announce our winners! If you haven't yet submitted your scores to the online portal can you please do so by the end of Monday (5th April). We'll check these and will have the final results out to teams by Monday 12th.
{% endblock %}
{% block body %}
<tr>
  <td style="padding: 40px 40px 30px 40px; font-family: 'Rubik', sans-serif; font-size: 18px; line-height: 28px; color: #666; font-weight: 400;">
    <p>Hello Kohoutekers, now that the competition has ended we're getting ready to count up the scores and announce our winners!</p>

    <p>If you haven't yet <a href="{{ score_link }}">submitted your scores</a> to the online portal can you please do so by the end of Monday (5th April). We'll check these and will have the final results out to teams by Monday 12th.</p>

    <p>The badges are currently on their way to us and should be here in the next two weeks, we'll then get these out to teams as quickly as we can. If you haven't yet done so, badges can be <a href="{{ badge_link }}">ordered from the team portal</a> with the option to pay online, by BACS, or by cheque (if you really must).</p>

    <p style="margin: 0">We hope you all enjoyed taking part in Kohoutek 2021!<br />The Kohoutek 2021 Team (Josie, Annabelle, Freya, and Owen)</p>
  </td>
</tr>
{% endblock %}
{% block footer %}
<p>
  You've received this email as you signed up to take part in Kohoutek 2021. If you no longer wish to receive these emails please contact us at <strong>contact@kohoutek.co.uk</strong> so we can remove your group's competition entry.
</p>
{% endblock %}
