Hello Kohoutekers, now that the competition has ended we're getting ready to count up the scores and announce our winners!

If you haven't yet submitted your scores ({{ score_link }}) to the online portal can you please do so by the end of Monday (5th April). We'll check these and will have the final results out to teams by Monday 12th.

The badges are currently on their way to us and should be here in the next two weeks, we'll then get these out to teams as quickly as we can. If you haven't yet done so, badges can be ordered from the team portal ({{ badge_link }}) with the option to pay online, by BACS, or by cheque (if you really must).

We hope you all enjoyed taking part in Kohoutek 2021!
The Kohoutek 2021 Team (Josie, Annabelle, Freya, and Owen)
