<!doctype html>
<html lang="en" class="uk-height-viewport">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js')}}" defer></script>
    {% block headjs %}{% endblock %}
    <title>Team Portal - Kohoutek 2021</title>
  </head>
  <body id="portal" class="uk-height-viewport uk-background-{% if self.background() %}{% block background %}{% endblock %}{% else %}secondary{% endif %}">
    {% block body %}{% endblock %}
    {% block bodyjs %}{% endblock %}
  </body>
</html>
